# Build directories
BUILDS/
build/
install/

# IDE files
.vs/
*.user
*.suo
.vscode/
.idea/
CMakeSettings.json

# OS files
Thumbs.db
.DS_Store

# Python
__pycache__/
*.pyc

# Compiled
*.obj
*.pdb
*.lib
*.exp
*.ilk
# Exclude pre-built libraries (over GitHub 100MB limit)
wsf_plugins/wsf_oms_uci/lib/
