# ****************************************************************************
# CUI
#
# The Advanced Framework for Simulation, Integration, and Modeling (AFSIM)
#
# Copyright 2003-2013 The Boeing Company. All rights reserved.
#
# The use, dissemination or disclosure of data in this file is subject to
# limitation or restriction. See accompanying README and LICENSE for details.
# ****************************************************************************

#include <QObject>
#include <QtTest/QTest>

class TestTemplate : public QObject
{
   Q_OBJECT

   private slots:
      // To create a test, subclass QObject and add one or more private slots to
      // it. Each private slot is a test function in your test.
      //
      // In addition, there are four private slots that are not treated as test
      // functions. They will be executed by the testing framework and can be
      // used to initialize and clean up either the entire test or the current
      // test function:
      void initTestCase() {}    // Called before the first test function is executed.
      void init() {}            // Called before each test function is executed.
      void cleanup() {}         // Called after every test function.
      void cleanupTestCase() {} // Called after the last test function is executed.

      void testFunction1();
};

void TestTemplate::testFunction1()
{
   QVERIFY(true);
}

QTEST_MAIN(TestTemplate)
#include "moc/TestTemplate.moc"
