/* ****************************************************************************
/* CUI
/*
/* The Advanced Framework for Simulation, Integration, and Modeling (AFSIM)
/*
/* The use, dissemination or disclosure of data in this file is subject to
/* limitation or restriction. See accompanying README and LICENSE for details.
/* *****************************************************************************/

/* ************************************************************** */
/*                                                                */
/* Copyright 2021 Infoscitex, a DCS Company. All rights reserved. */
/*                                                                */
/* ************************************************************** */

/* -- All Admonitions ------------------------------------------- */

.admonition-title,
.admonition-title + p {
   display: inline;
}

.admonition p,
.admonition pre,
.admonition ul,
.admonition ol {
   margin-bottom: 5px;
}

p.admonition-title:after {
   content: ":";
}

/* -- Gray Admonitions ------------------------------------------ */

.note {
   background-color: #dad9d7; /* Gray */
   border: 1px solid #5b6770; /* Dark Gray */
}

/* -- Blue Admonitions ------------------------------------------ */

.tip,
.hint,
.see-also {
   background-color: #d7f1f9; /* Light Blue */
   border: 1px solid #76bace; /* Dark Blue */
}

/* -- Yellow Admonitions ---------------------------------------- */

.attention,
.important,
.version {
   background-color: #fffbdc; /* Light Yellow */
   border: 1px solid #dfcc42; /* Dark Yellow */
}

/* -- Orange Admonitions ---------------------------------------- */

div.deprecated {
   padding: 2px 10px 2px;
   background-color: #fadcc8; /* Light Orange */
   border: 1px solid #bc5610; /* Dark Orange */
}

div.deprecated p {
   margin: 0px 0px 0px 0px;
}

span.deprecated {
   margin: 0px 0px 0px 0px;
   font-style: normal;
   font-weight: bold;
}

/* -- Red Admonitions ------------------------------------------ */

.danger,
.warning {
   background-color: #ffe4e4; /* Light Red */
   border: 1px solid #ea002a; /* Dark Red */
}
