/* ****************************************************************************
/* CUI
/*
/* The Advanced Framework for Simulation, Integration, and Modeling (AFSIM)
/*
/* The use, dissemination or disclosure of data in this file is subject to
/* limitation or restriction. See accompanying README and LICENSE for details.
/* *****************************************************************************/

/* Custom formatting options for objects with the 'afsim-issue-role' class attribute*/
.afsim-issue-role
{
   font-style: italic;
   font-size: 0.8em;
}

.afsim-issue-role:visited
{
   font-style: italic;
   font-size: 0.8em;
}
