/* ****************************************************************************
/* CUI
/*
/* The Advanced Framework for Simulation, Integration, and Modeling (AFSIM)
/*
/* The use, dissemination or disclosure of data in this file is subject to
/* limitation or restriction. See accompanying README and LICENSE for details.
/* *****************************************************************************/

/* ************************************************************** */
/*                                                                */
/* Copyright 2021 Infoscitex, a DCS Company. All rights reserved. */
/*                                                                */
/* ************************************************************** */

/* '\23F7' - Unicode character for "Black Medium Down-Pointing Triangle" */
/* '\23F5' - Unicode character for "Black Medium Right-Pointing Triangle" */

h2:before,
h3:before {
   content: '\23F7';
   font-size: 13px;
   float: left;
   margin-right: 5px;
}

/* Style arrow that appears before expanded headers */

.expanded:before {
   content: '\23F7';
   font-size: 13px;
   float: left;
   margin-right: 5px;
}

.expanded:hover {
   cursor: pointer;
}

.expanded:hover::before {
   content: "\23F7";
   font-size: 13px;
   color: #808080;
   float: left;
   margin-right: 5px;
}

/* Style arrow that appears before collapsed headers */

.collapsed:before {
   content: "\23F5";
   font-size: 13px;
   float: left;
   margin-right: 5px;
}

.collapsed:hover {
   cursor: pointer;
}

.collapsed:hover::before {
   content: '\23F5';
   font-size: 13px;
   color: #808080;
   float: left;
   margin-right: 5px;
}

/* Style collapsible content */
/* Elements with this class will have a smooth transition between collapsed/expanded */
.collapsible-content {
   max-height: max-content;
   transition: max-height 0.2s ease;
   margin: 0px -20px 0px -20px;
   padding: 0px 20px 0px 20px;
   overflow: hidden;
}

/* Utility Class notransition - Disable transitions in all browsers for elements with this class */
/* May be applied, then removed, to temporarily disable transitions for a given element */
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
