/* ****************************************************************************
/* CUI
/*
/* The Advanced Framework for Simulation, Integration, and Modeling (AFSIM)
/*
/* The use, dissemination or disclosure of data in this file is subject to
/* limitation or restriction. See accompanying README and LICENSE for details.
/* *****************************************************************************/

/* ************************************************************** */
/*                                                                */
/* Copyright 2021 Infoscitex, a DCS Company. All rights reserved. */
/*                                                                */
/* ************************************************************** */

/* -- Reserved for use in the Documentation Standard. ----------- */

/* -- All Pseudo-Headers ---------------------------------------- */

.pseudo-h1,
.pseudo-h2,
.pseudo-h3,
.pseudo-h4,
.pseudo-h5,
.pseudo-h6 {
   display: block;
   margin: 15px 0 5px 0px;
}

/* -- Major Pseudo-Headers -------------------------------------- */

.pseudo-h1,
.pseudo-h2,
.pseudo-h3 {
   border-bottom: 1px solid #5B6770;
}

/* -- Pseudo-Header Sizing -------------------------------------- */

.pseudo-h1 {
   font-size: 165%;
}

.pseudo-h2 {
   font-size: 150%;
}

.pseudo-h3 {
   font-size: 140%;
}

.pseudo-h4 {
   font-size: 130%;
}

.pseudo-h5 {
   font-size: 120%;
}

.pseudo-h6 {
   font-size: 110%;
}
