/* ****************************************************************************
/* CUI
/*
/* The Advanced Framework for Simulation, Integration, and Modeling (AFSIM)
/*
/* The use, dissemination or disclosure of data in this file is subject to
/* limitation or restriction. See accompanying README and LICENSE for details.
/* *****************************************************************************/

/* ************************************************************** */
/*                                                                */
/* Copyright 2021 Infoscitex, a DCS Company. All rights reserved. */
/*                                                                */
/* ************************************************************** */

/* -- Reserved for use in the Documentation Standard. ----------- */

/* -- Pseudo-Topics --------------------------------------------- */

.pseudo-topic-title,
.pseudo-topic-body {
   background-color: #f0f0f0;
   margin: 1em;
   margin-left: 0em;
   padding: 0.5em;
   border: 1px solid #cccccc;
   white-space: pre;
   display: block;
}

.pseudo-topic-title {
   font-weight: bold;
   border-bottom: 0px;
   margin-bottom: -0.5em;
}

.pseudo-topic-body {
   border-top: 0px;
   margin-top: -0.5em;
}
