/* ****************************************************************************
/* CUI
/*
/* The Advanced Framework for Simulation, Integration, and Modeling (AFSIM)
/*
/* The use, dissemination or disclosure of data in this file is subject to
/* limitation or restriction. See accompanying README and LICENSE for details.
/* *****************************************************************************/

/* ************************************************************** */
/*                                                                */
/* Copyright 2021 Infoscitex, a DCS Company. All rights reserved. */
/*                                                                */
/* ************************************************************** */

/* -- Quick Search Styling -------------------------------------- */

/* Capitalize the word 'search' in "Quick search" --------------- */

#searchbox h3 {
   margin-top: 10px;
   text-transform: capitalize;
}

/* Add a magnifying glass to left - Align with other menu items - */

#searchbox h3:before {
   content: '\1F50D';
   font-family: 'Segoe UI Symbol';
   margin-right: 5px;
}
