/* ****************************************************************************
/* CUI
/*
/* The Advanced Framework for Simulation, Integration, and Modeling (AFSIM)
/*
/* The use, dissemination or disclosure of data in this file is subject to
/* limitation or restriction. See accompanying README and LICENSE for details.
/* *****************************************************************************/

/* ************************************************************** */
/*                                                                */
/* Copyright 2021 Infoscitex, a DCS Company. All rights reserved. */
/*                                                                */
/* ************************************************************** */

/* -- All Tables ------------------------------------------------ */

table.docutils,
table.docutils th,
table.docutils td {
   border: 1px solid #5b6770;
}

table {
   margin-bottom: 10px;
}

table td {
   white-space: normal;
}


table td > * {
   margin: 0.1em;
}

table.hlist td {
   border: 0px;
}

/* -- Element-Wise Table Options -------------------------------- */

table.nowrap td {
   white-space: nowrap;
}

table.header-text-center th > * {
   text-align: center;
}

table.align-top td {
   vertical-align: top;
}

table.cell-text-center td > * {
   text-align: center;
}

table.cell-text-right td > * {
   text-align: right;
}

table.margin-wide td {
   margin: 0.4em;
}

/* -- Table Classes --------------------------------------------- */

/* -- reStructuredText Markup Example Table (example-rst) ------- */

table.example-rst th > * {
   text-align: center;
}

table.example-rst td > * {
   margin: 0.5em;
   white-space: nowrap;
}

table.example-rst td {
   padding: 0em;
}


table.example-rst td pre.literal-block {
   white-space: pre;
   display: block;
}

/* -- reStructuredText Field/Option Table (option-table) -------- */

table.option-table th > * {
    text-align: center;
}

table.option-table td > * {
   margin: 0.4em;
   white-space: nowrap;
   text-align: center;
}

table.option-table > tbody > tr > td:nth-of-type(1) {
   font-weight: bold;
}
