*.aer
*.analysis_map
*.aps
*.db
*.draw
*.evt
*.gnu
*.lis
*.log
*.plt
*.pyc
*.rep
*.sed
*.tmp
*.vertical_map
*.vg.xml
.vs*/
auto_grid_*
temp*
BUILD*
build*
!building*
!build_*.py
__pycache__
3rd_party
CMakeTmp
tspi_relocate_and_rotate_out_*
